notebook {
    background-color: #525252;
    border: none;
    border-right: none;
}

notebook > header {
    background-color: #525252;
    border: none;
    box-shadow: none;
}

notebook tab {
    min-width: 50px;
    min-height: 100px;
    border: none;
    border-radius: 0;
    margin: 0;
    background-image: none;
}

notebook tab:hover, notebook tab:checked {
    background-color: #313131;
    border: none;
}

viewport {
    background-color: initial;
}

entry, combobox, combobox cellview {
    color: #000000;
}

scrolledwindow, box.darkBackground {
    border: none;
    background-color: #313131;
}

flowboxchild {
    border: none;
    background-color: inherit;
}

flowbox button {
    box-shadow: none;
}

.profileItem {
    color: white;
    border: 2px solid #616161;
    background-color: #313131;
    background-image: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 5px 10px 5px;
    text-shadow: none;
    -gtk-icon-shadow: none;
    box-shadow: none;
}

.profileItem:hover {
    border-color: #29A19C;
}

.saveButton, .saveButton box, .saveButton widget {
    color: #FFFFFF;
    background-color: #28A745;
    border-color: #28A745;
    background-image: none;
    transition: background-color 300ms ease;
    padding: 5px 10px;
    text-shadow: none;
    -gtk-icon-shadow: none;
    box-shadow: none;
    border-image-source: none;
}

.saveButton:hover, .saveButton:hover box {
    color: #FFFFFF;
    background-color: #218838;
    border-color: #1E7E34;
    background-image: none;
    transition: background-color 300ms ease;
}

.backButton, .backButton box, .backButton widget, #confirmProfileRemoveDialog button {
    color: #FFFFFF;
    background-color: #6C757D;
    border-color: #6C757D;
    background-image: none;
    transition: background-color 300ms ease;
    padding: 5px 10px;
    text-shadow: none;
    -gtk-icon-shadow: none;
    box-shadow: none;
    border-image-source: none;
}

.backButton:hover, .backButton:hover box, .backButton:hover widget, #confirmProfileRemoveDialog button:hover {
    color: #FFFFFF;
    background-color: #5A6268;
    border-color: #545B62;
    background-image: none;
    transition: background-color 300ms ease;
}

.deleteButton, .deleteButton box, .deleteButton widget {
    color: #FFFFFF;
    background-color: #dc3545;
    border-color: #dc3545;
    background-image: none;
    transition: background-color 300ms ease;
    padding: 5px 10px;
    text-shadow: none;
    -gtk-icon-shadow: none;
    box-shadow: none;
    border-image-source: none;
}

.deleteButton:hover, .deleteButton:hover box {
    color: #FFFFFF;
    background-color: #c82333;
    border-color: #bd2130;
    background-image: none;
    transition: background-color 300ms ease;
}

.buttonBox {
    background-color: #525252;
}

#confirmProfileRemoveDialog {
    background-color: #515151;
    color: #ffffff;
}

spinbutton {
    color: #000000;
    border: none;
}

spinbutton > button.up {
    background-color: #28A745;
    border-color: #28A745;
    border-radius: 0 3px 3px 0;
    color: white;
    background-image: none;
}

spinbutton > button.up:hover {
    background-color: #218838;
    transition: background-color 300ms ease;
}

spinbutton > button.down {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
    color: white;
    background-image: none;
}

spinbutton > button.down:hover {
    background-color: #c82333;
    transition: background-color 300ms ease;
}

switch {
    background-color: #616161;
}

switch:checked {
    background-color: #0564db;
}

switch slider {
    border-color: #616161;
}

switch slider:hover {
    border-color: #313131;
    transition: border-color 300ms ease;
}

label {
    color: white;
}

button.link:hover {
    background-image: none;
    border: none;
}

button.link {
    border: none;
}

label {
    text-shadow: none;
}